---
import { string } from "astro:schema";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<div>
			<slot />
		</div>
	</body>
</html>

<style>
	:root {
		--background-color: #101418;
		--font: system-ui, sans-serif;
		--color-text: white;
	}
	html {
		font-family: var(--font);
		color: var(--color-text);
		background-color: var(--background-color);
		margin: 0;
		width: 100vw;
		height: 100vh;
	}

	body {
		display: grid;
		place-content: center;
		margin: 0; /* Aseguramos que no haya márgenes adicionales */
	}

	body > div {
		max-width: 1280px; /* Simulación de "container" de Tailwind, puedes ajustar este valor */
		width: 100%;
		box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 30px;
	}
</style>
